<section class="container-fluid profile-section">

  <div class="row welcome-user">
    <div class="col-12">
      <h1><b>Welcome {{currentUser.username}}!</b></h1>
    </div>
  </div>

  <div class="row profile-card">

    <div class="col-lg-6 col-12 user-info">

      <div class="profile-picture">
        <img src="{{currentUser.picture_url}}" />
      </div>

      <div class="btn-and-edit-section">

        <div class="user-edit">
          <form
            action="/profile/{{currentUser._id}}/edit"
            method="post"
            enctype="multipart/form-data"
            class="user-edit-form"
          >
            <div>
              <label>
                <b>Username</b>
              </label>
              <br />
              <input
                type="text"
                name="username"
                value="{{currentUser.username}}"
              />
            </div>

            <div>
              <label>
                <b>Profile picture</b>
              </label>
              <input type="file" name="picture_url" />
            </div>

            <div>
              <button class="btn general-btn" type="submit">Edit your profile</button>
            </div>
          </form>

        </div>

        <div class="favorite-btn">
          <a href="/favorites" class="btn general-btn">
            List of Favorites
          </a>
        </div>
      </div>
    </div>
  </div>
</section>