<h1>Welcome {{currentUser.username}}</h1>
<br />
<img src="{{currentUser.picture_url}}" alt="{{currentUser.username}}" />
<br />
<a href="/profile/edit">Edit your profile</a>
<a href="/favorites">Favorites</a>