<div class="game-card">
  <img src="{{background_image}}" alt="{{name}}" width="200" />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <a href="/games/game-details/{{id}}">See Details</a>
  </div>
</div>