<section class="about-us container-fluid">
  <div class="container-about">
    <div class="card">
      <div class="image">
        <img
          href="#"
          src="https://res.cloudinary.com/doti6zlah/image/upload/v1673090321/thegamershub/profile_pic_gf22w7.png"
        />
      </div>
      <div class="content">
        <h3>Marta Peres</h3>
        <div>
          <a
            class="about-us-links"
            href="https://github.com/agrandemartasan"
          >GitHub</a>
        </div>
        <div>
          <a
            class="about-us-links"
            href="https://www.linkedin.com/in/marta-peres/"
          >Linkedin</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img
          href="#"
          src="https://res.cloudinary.com/doti6zlah/image/upload/v1673089994/thegamershub/Jo%C3%A3o_Mesquita_Out_2021_-_34_akoay1.jpg"
        />
      </div>
      <div class="content">
        <h3>João Mesquita</h3>
        <div>
          <a
            class="about-us-links"
            href="https://github.com/MesquitaGit"
          >GitHub</a>
        </div>
        <div>
          <a
            class="about-us-links"
            href="https://www.linkedin.com/in/joaopsmesquita/"
          >Linkedin</a>
        </div>
      </div>
    </div>
  </div>
</section>