<div class="container-fluid">
  <h1>ABOUT SECTION</h1>
</div>
<div>
  <p>
    Video games are a type of interactive entertainment that allows players to
    control and manipulate virtual characters and environments through the use
    of a computer, console, or mobile device. These games can range from simple,
    casual experiences to complex and challenging endeavors that require
    strategy and skill. Many video games are designed to be played by a single
    player, while others can be played with multiple players either locally or
    online. The video game industry is a rapidly growing and evolving field,
    with new technologies and innovations constantly emerging. From retro
    classics to cutting-edge virtual reality, there is a wide variety of video
    games available for players of all ages and interests.
  </p>

</div>