<section class="container-fluid games-list">
  {{#each favorites}}
    <div class="game-card">
      <h5>{{name}}</h5>
      <img src="{{backgroundImage}}" alt="{{name}}" width="200" />
      <a href="/games/game-details/{{id}}">See Details</a>
    </div>
  {{/each}}
</section>