<div class="hero-image-games-list">
    <div class="hero-text">
      <h1>List of Games</h1>
    </div>
  </div>
<section class="container-fluid games-list">
  {{#each games}}
      {{> gameCard this}}
  {{/each}}
</section>

<div class="pagination-section">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/games/{{previousPage}}">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="/games/{{nextPage}}">Next</a>
    </li>
  </ul>
</div>