<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to the Hub</h1>
    <h4>Time to find your next game</h4>
  </div>
  <div>
    <form action="/search" class="d-flex" role="search">
      <input
        name="game"
        class="form-control me-2"
        type="search"
        placeholder="Time to find your next game"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

<section class="container-fluid intro">
  <div class="row align-items-center">
    <div class="col-5">
      <div class="img-container">
        <img
          src="https://res.cloudinary.com/doti6zlah/image/upload/v1671139681/thegamershub/gamer_givvhv.jpg"
          alt="gamer"
        />
      </div>
      <br />
      <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex eos
        quae, quod sapiente, odio corrupti est doloremque nihil laboriosam
        voluptatum repellat libero earum magni provident illum ab maiores,
        aliquid omnis.
      </div>
    </div>

    <div class="col-5 random-games-container">
      {{#each gameCardItems}}
        {{> gameCard this}}
      {{/each}}
    </div>
  </div>
</section>