<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to the Hub</h1>
    <br>
  </div>
  <div class="w-25">
    <form action="/search" class="d-flex" role="search">
      <input
        name="game"
        class="form-control me-2"
        type="search"
        placeholder="Time to find your next game"
        aria-label="Search"
      />
      <button class="btn search-btn" type="submit">Search</button>
    </form>
  </div>
</div>

<section class="container-fluid intro">
  <div class="row align-items-center">
    <div class="col-6 intro-img-txt-container">
      <div class="img-container">
        <img
          src="https://res.cloudinary.com/doti6zlah/image/upload/v1671139681/thegamershub/gamer_givvhv.jpg"
          alt="gamer"
        />
      </div>
      <br />
      <div class="intro-text">
      <p>Gaming can bring a lot of joy and excitement to people's lives. Whether it's playing a solo campaign or competing against others in an online match, the sense of accomplishment and enjoyment that comes from gaming is unparalleled. The escapism that gaming provides can also be a great stress reliever and provide a much-needed break from the daily grind. Additionally, gaming can foster a sense of community and connection with others, as people can come together and bond over their shared love of a particular game or series.</p>
      </div>
    </div>

    <div class="container-fluid col-6 random-games-container">
      {{#each gameCardItems}}
        {{> randomGameCard this}}
      {{/each}}
    </div>
  </div>
</section>