<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to the Hub</h1>
    <h4>Time to find your next game</h4>
    <button>Search for Games</button>
  </div>
</div>

<section class="container-fluid intro">
  <div class="row align-items-center">
    <div class="col-5">
      <div class="img-container">
        <img src="/images/gamer.jpg" alt="gamer" />
      </div>
      <br />
      <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex eos
        quae, quod sapiente, odio corrupti est doloremque nihil laboriosam
        voluptatum repellat libero earum magni provident illum ab maiores,
        aliquid omnis.</div>
    </div>
    <div class="col-5 random-games-container">
      <div class="card w-50 random-game">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div><div class="card w-50 random-game">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card w-50 random-game">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card w-50 random-game">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>