<div class="hero-image-search-list">
    <div class="hero-text">
      <h1>Search results</h1>
    </div>
  </div>
<section class="container-fluid games-list">
  {{#each games}}
  {{> gameCard this}}
  {{/each}}
</section>