@import url("https://fonts.googleapis.com/css2?family=Abel&family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Defining color scheme */
:root {
  --color-primary: #3b2967;
  --color-secondary: #101131;
  --color-accent: #9cbad7;
  --color-accent2: #cfe3f5;
  --color4: #363989;
  --color5: #2a3382;
  --color6: #ae83fb;
}

body,
html {
  font-family: "Exo 2", sans-serif;
  height: 100%;
}

/* Navbar styling */
nav {
  background-color: var(--color-secondary);
}

.nav-link,
.navbar-brand,
.hero-text {
  color: var(--color-accent2);
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--color6);
}

.navbar-btn-group {
  margin-top: 1%;
}

.navbar-btn-group ul {
  flex-direction: row;
}

.general-btn {
  color: var(--color-accent2);
  background-color: var(--color-primary);
}

.general-btn:hover {
  color: var(--color-accent2);
  background-color: var(--color6);
  transform: translateY(-2px);
}

.content-container {
  width: 100%;
  min-height: 91vh;
  display: flex;
  flex-direction: column;
}

/* Hero image styling */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/doti6zlah/image/upload/v1671139680/thegamershub/3_lxkekr.jpg");
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-btn {
  background-color: var(--color-accent2);
  color: var(--color-primary);
}

.search-btn:hover {
  color: var(--color-accent2);
  background-color: var(--color6);
  transform: translateY(-2px);
}

/* Homepage intro styling */
.intro {
  background-color: var(--color-secondary);
  color: var(--color-accent2);
  padding: 5% 2%;
  display: flex;
  justify-content: space-evenly;
}

.intro-img-txt-container {
  padding: 0 3% 3% 3%;
}

.intro .img-container img {
  width: 100%;
}

.intro-text {
  text-align: justify;
}

.random-games-container {
  padding: 2% 2% 0.5%;
  margin: 0;
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card-random {
  min-width: 24%;
  max-width: 48%;
  flex-grow: 1;
  height: 24em;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--color-accent2);
  background-color: var(--color-secondary);
  color: var(--color-accent2);
}

.card-btn-container {
  display: flex;
  gap: 2%;
}

/* Footer styling */
footer {
  background-color: var(--color-secondary);
  margin-top: auto;
}

footer p {
  text-align: center;
  color: var(--color-accent2);
  margin-bottom: 0;
  padding: 1%;
}

footer p a
 {
  color: var(--color-accent2);
  text-decoration: none;
}

footer p a:hover {
  color: var(--color6);
}

/* Sign up and login styling */
.submitSignupBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-accent2);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitSignupBtn:hover {
  background-color: var(--color6);
  transform: translateY(-2px);
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84.6vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/doti6zlah/image/upload/v1671139705/thegamershub/1_d2rrhr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.signupTitle {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
}

.input:focus {
  border: 2px solid var(--color-primary);
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

/* Games list styling */
.hero-image-games-list {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/doti6zlah/image/upload/v1671269764/thegamershub/4_hxr2vm.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2% 3% 3%;
}

.dropdown-item,
.dropdown-menu {
  background-color: var(--color-accent2);
  color: var(--color-secondary);
}

.dropdown-item:hover {
  color: var(--color-accent2);
  text-decoration: none;
  background-color: var(--color6);
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--color-accent2);
  text-decoration: none;
  background-color: var(--color-primary);
}

.games-list {
  padding: 2% 2% 0.5%;
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
  background-color: var(--color-primary);
  flex-direction: row;
  justify-content: space-around;
  align-items: inherit;
}

.game-card {
  width: 23%;
  height: 24em;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--color-accent2);
  background-color: var(--color-secondary);
  color: var(--color-accent2);
}

.card-img,
.card-img-bottom,
.card-img-top {
  min-height: 50%;
  max-height: 50%;
  object-fit: cover;
}

/* Search results styling */
.hero-image-search-list {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/doti6zlah/image/upload/v1671269765/thegamershub/5_xla7rr.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2%;
}

.profile-section {
  height: 84.6vh;
}

.hero-image-favorites-list {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/doti6zlah/image/upload/v1671280633/thegamershub/10_p0jdis.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2%;
}

.pagination-section {
  background-color: var(--color-primary);
}

.pagination {
  margin: 0;
  padding-bottom: 1%;
  padding-top: 0;
  justify-content: center;
}

.page-link {
  background-color: var(--color-secondary);
  color: var(--color-accent2);
}

.page-link:hover {
  color: var(--color-accent2);
  background-color: var(--color6);
}

.game-details-main-container {
  height: 100%;
  padding-top: 3%;
  background-image: radial-gradient(
    circle,
    #3b2967,
    #32255d,
    #292052,
    #211c48,
    #19173e,
    #191841,
    #181a43,
    #181b46,
    #1f2256,
    #262a67,
    #2e3178,
    #363989
  );
  color: var(--color-accent2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.game-details-picture {
  margin-top: 1%;
  margin-bottom: 3%;
}

.game-details-picture img {
  width: 100%;
}

.title-container,
.game-info-container {
  width: 80%;
}

/* Profile page styling */

.profile-section {
  background-image: radial-gradient(
    circle,
    #3b2967,
    #4f3981,
    #63499c,
    #795ab8,
    #8f6bd4,
    #8f6dd7,
    #8e6edb,
    #8e70de,
    #7762c8,
    #6154b3,
    #4b469e,
    #363989
  );
}

.profile-card {
  background-color: var(--color-accent2);
}

/* About Us section */

.about-us {
  width: 100%;
  background-image: radial-gradient(
    circle,
    #3b2967,
    #4f3981,
    #63499c,
    #795ab8,
    #8f6bd4,
    #8f6dd7,
    #8e6edb,
    #8e70de,
    #7762c8,
    #6154b3,
    #4b469e,
    #363989
  );
}


.container-about {
  width : 100%;
  height: 84.6vh;
  display : flex;
  align-items : center;
  justify-content : space-evenly;  
}

.container-about .card {
  max-width : 300px;
  height : 215px;   
  background-color : var(--color-accent2);
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container-about .card:hover {
  height : 350px;    
}


.container-about .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  
  top : -32%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container-about .card .image img {
  max-width : 100%;
  border-radius : 4px;
}

.container-about .card .content {
  position : relative;
  top : -100px;
  padding : 10px 15px;
  color : var(--color-secondary);
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container-about .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}

.about-us-links, .about-us-links:hover {
  color: var(--color6);
  text-decoration: none;
}

/* Media queries */

@media only screen and (max-width: 1120px) {
  .card.game-card {
    width: 31%;
  }
}

@media only screen and (max-width: 768px) {
  .card.game-card {
    width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  .card.game-card {
    width: 100%;
  }
}
