@import url('https://fonts.googleapis.com/css2?family=Abel&family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Defining color scheme */
:root {
  --color-primary: #3B2967;
  --color-secondary: #101131;
  --color-accent: #9CBAD7;
  --color-accent2: #cfe3f5;
  --color4: #363989;
  --color5: #2A3382;
}

body, html {
  font-family: "Exo 2", sans-serif;
  height: 100%;
}

nav {
  background-color: var(--color-secondary);
}

.nav-link {
  color: var(--color-accent2);
}

.navbar-brand {
  color: var(--color-accent2);
} 

.navbar-brand:hover {
  color: var(--color-accent2);
} 

.nav-link:hover {
  color: var(--color-accent2);
}

.signup-btn {
  color: var(--color-accent2);
}

.signup-btn:hover {
  color: var(--color-accent2);
}

.login-btn {
  color: var(--color-accent2);
}

.login-btn:hover {
  color: var(--color-accent2);
}


/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/3.jpg");

/* Set a specific height */
height: 80vh;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--color-accent2);
}

.hero-text button {
  padding: 3% 5%;
  margin-top: 10%;
  background-color: var(--color-primary);
  color: var(--color-accent2);
  border-radius: 15%;
}

.intro {
  background-color: var(--color-secondary);
  color: var(--color-accent2);
  padding: 10% 8%;
  display: flex;
  justify-content: space-evenly;
}

.intro .img-container img {
  width: 100%
}

.intro .row {
  gap:5%;
}

.intro .random-games-container {
  display: flex;
}

footer {
  background-color: var(--color4);
}
footer p {
  text-align: center;
  color: var(--color-accent2);
  margin-bottom: 0;
  padding: 1%;
}

footer p a {
  color: var(--color-accent2);
}

.submitSignupBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-accent2);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitSignupBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84.6vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.signupTitle {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
}

.input:focus {
  border: 2px solid var(--color-primary);
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}


/*games list styling*/

.games-list {
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
  background-color: var(--color-primary);
}

.game-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  color: var(--color-accent2);
}